<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
 <web-app>
     <display-name>HW3 (Master)</display-name>
     
     <servlet>
         <servlet-name>MasterServlet</servlet-name>
         <servlet-class>edu.upenn.cis455.mapreduce.master.MasterServlet</servlet-class>
     </servlet>
     <servlet>
         <servlet-name>WorkerServlet</servlet-name>
         <servlet-class>edu.upenn.cis455.mapreduce.worker.WorkerServlet</servlet-class>
		 <init-param>
     	   <param-name>BDBstore</param-name>
     	   <param-value>/home/cis455/database</param-value>
     	 </init-param>
         <init-param>
           <param-name>storagedir</param-name>
           <param-value>/home/cis455/storage1/</param-value>
         </init-param>
         <init-param>
           <param-name>master</param-name>
           <param-value>127.0.0.1:8080</param-value>
         </init-param>
         <init-param>
           <param-name>port</param-name>
           <param-value>8081</param-value>
         </init-param>
         <!-- <load-on-startup>1</load-on-startup>  -->
     </servlet>
     <servlet-mapping>
         <servlet-name>MasterServlet</servlet-name>
         <url-pattern>/master/*</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
         <servlet-name>WorkerServlet</servlet-name>
         <url-pattern>/worker/*</url-pattern>
     </servlet-mapping>
</web-app>